---
layout: default
---
<div class="curve-mask light team-curve-mask">

  <div class="curve-down dark">
    <div class="curve-content-wrap team-curve-content-wrap">
      <div class="curve-content">
	<div class="team-intro">
	  <h1 class="text-center">Dev Team</h1>
	  <p class="text-center"></p>
	</div>
      </div>
    </div>
  </div>

</div>

<div class="curve-mask light">
<div class=" light" id="curve-2" style="background: url('/assets/images/holochain/whitepaper_section_backdrop.jpg');  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; ">
  <section class="curve-content-wrap">
    <div class="curve-content">

      <h2>We're Hiring</h2>
      <h4>If you're an experienced coder, steeped in distibuted computing, we may be interested in you.</h4>
      <h3>What we're looking for:</h3>
      <ul>
        <li>Holochain Core: Go, Rust, JavaScript, DHT communications</li>
        <li>Core Apps: JavaScript, DPKI, Holochain, JavaScript</li>
        <li>HoloPorts: OS optimization, Remote Administration, Moble App Access, Containerization</li>
        <li>Front-end: CSS, HTML, page layout, single-page applications, React, React-Native</li>
        <li>DevOps: System Administration, Security, Docker, Ansible, Chef, Kubernetes, etc.</li>
        <li>Technical writing: developer documentation, training materials, blog posts, white papers</li>
      </ul>
      <h3>Who we're looking for:</h3>
      <ul>
        <li>You love coding, building awesome things, and are excited about building a large disruptive platform.</li>
        <li>You can be reliably productive working on your own and in remote collaboration with a team.</li>
        <li>You are proficient with: git & test-driven development</li>
        <li>You are comfortable with: Agile coding, scrum, pair-coding, Kan-ban boards, etc</li>
        <li>You are comfortable providing and receiving direct feedback. </li>
      </ul>

      <p> If this sounds like fun, and you're ready to dive into the intensity of a fast-moving startup, <a class="text-left footer-link" href="https://docs.google.com/forms/d/e/1FAIpQLScU66pm9MV8TfWs9b9_p_rV-d4F66XesgiTvh87oVBSLSd7NQ/viewform"><strong>apply to join our team</strong></a>!
    </div>
  </section>
</div>
</div>

<div class="hiring-banner">
  <h2>Current Team</h2>
</div>

<div id="team" class="container team-container" style="display:none">
  {% assign members = site.team_members | sort: "order" %}
  {% for team_member in members %}
    {% if team_member.dev %}
      <div class="grid-item">
	<p class="text-center"><img class="team-image text-center" src="{{ team_member.photo.url }}"/></p>
	<h3 class="text-center">{{ team_member.name }}</h4>
	  <p class="text-center">{{ team_member.dev }}</p>

	  <p>
            {% if team_member.linkedin  %}<a href="{{ team_member.linkedin }}"><i class="fa fa-linkedin"></i></a>{% endif %}
            {% if team_member.twitter  %}<a href="https://twitter.com/{{ team_member.twitter }}"><i class="fa fa-twitter"></i></a>{% endif %}
            {% if team_member.facebook  %}<a href="{{ team_member.facebook }}"><i class="fa fa-facebook"></i></a>{% endif %}
          </p>

      </div>
    {% endif %}
  {% endfor %}
</div>


<!--[if IE 9]>
  <script src="/assets/js/media-match.min.js"></script>
<![endif]-->
<script src="/assets/js/enquire.min.js"></script>
<script src="/assets/js/savvior.min.js"></script>
<script>
  $('header').show();
  savvior.init('#team', {
     "screen and (max-width: 20em)": { columns: 2 },
     "screen and (min-width: 20em) and (max-width: 40em)": { columns: 3 },
     "screen and (min-width: 40em)": { columns: 4 },
 });
 $("#team").show();
</script>
