---
layout: default
---

<div class="curve-mask light team-curve-mask">

  <div class="curve-down dark">
    <div class="curve-content-wrap team-curve-content-wrap">
      <div class="curve-content">
	<div class="team-intro" style="padding-top:75px;padding-bottom:40px">
	  <h1 class="text-center">Team</h1>
	  <p class="text-center">We are a community of passionate humans building a distributed generalized compute platform.</p>
	  <p class="text-center">As an open source project, Holochain is built by the collaborative work of many people in ways both large and small. However, in its current nascent phase, most of the support comes from  <a href="https://holo.host">Holo</a>, a company building out the first large-scale use of Holochain: a network for distributed hosting of Holochain applications.  Here is our team.</p>
	</div>
      </div>
    </div>
  </div>

</div>
<div  id="team" class="container team-container" style="display:none">
    {% assign members = site.team_members | sort: "order" %}
    {% for team_member in members %}
      <div class="grid-item">
	  <p class="text-center"><img class="team-image text-center" src="{{ team_member.photo.url }}"/></p>
	  <h3 class="text-center">{{ team_member.name }}</h3>
	  <p class="text-center">{{ team_member.job_title }}</p>

	    <p>
              {% if team_member.linkedin  %}<a href="{{ team_member.linkedin }}"><i class="fa fa-linkedin"></i></a>{% endif %}
              {% if team_member.twitter  %}<a href="https://twitter.com/{{ team_member.twitter }}"><i class="fa fa-twitter"></i></a>{% endif %}
              {% if team_member.facebook  %}<a href="{{ team_member.facebook }}"><i class="fa fa-facebook"></i></a>{% endif %}
            </p>

      </div>
    {% endfor %}
</div>

<!--[if IE 9]>
  <script src="/assets/js/media-match.min.js"></script>
<![endif]-->
<script src="/assets/js/enquire.min.js"></script>
<script src="/assets/js/savvior.min.js"></script>
<script>
 $('header').show();
 savvior.init('#team', {
     "screen and (max-width: 20em)": { columns: 2 },
     "screen and (min-width: 20em) and (max-width: 40em)": { columns: 3 },
     "screen and (min-width: 40em)": { columns: 4 },
 });
 $("#team").show();
</script>
