<header>
  <div class="container">
    <p><a href="/"><img class="fadeimg header-logo" src="{{ '/assets/images/Holochain_header-logo.png' | theme_image_url }}" height="50" alt="Holochain Logo" /></a><span class="text-right no-mobile"><a href="https://github.com/metacurrency/holochain" title="Link: Source Code">GitHub</a> <a target="_blank" href="https://github.com/metacurrency/holochain/blob/whitepaper/holochain.pdf" title="Link: Holochain Whitepaper">Whitepaper</a> <a target="_blank" href="https://chat.holochain.org/" title="Link: Holochain Chat Rooms">Chat</a>  <a href="/team.html" title="Link: Team">Team</a></span></p>
  </div>
</header>
