<header>
  <div class="container">
    <p><a href="/"><img class="fadelogo header-logo" src="{{ '/assets/images/Holochain_header-logo.png' | theme_image_url }}" height="50" alt="Holochain Logo" /></a><span class="text-right no-mobile"><a href="https://github.com/holochain/holochain-proto">GitHub</a> <a target="_blank" href="https://github.com/holochain/holochain-proto/blob/whitepaper/holochain.pdf">White Paper</a> <a target="_blank" href="https://chat.holochain.org/">Chat</a>  <a href="/team.html">Team</a></span></p>
  </div>
</header>
