<div class="curve-down medium">
<section class="curve-content-wrap">
<div class="curve-content" >
<h2 class="text-center" >What comes after blockchain?</h2>
<div class="text-center">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/hyCtYrHJebs?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <div class="testimonial text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Fex4R6b5wzo?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <blockquote>"Installation and actually deployment was super simple and even more important it delivered on what they promised, it worked" - <a href="https://www.lykke.com/city/blog/team-interview-anton" target="_blank">Anton from Lykke</a></blockquote>
  </div>
</div>

</div>
</section>
</div>
