.btn,
button {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &.pill {
    font-family: font(default);
    height: 45px;
    padding: 0 40px;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background: linear-gradient(to bottom right, rgba(102, 51, 255, 0.9), rgba(153, 0, 255, 0.9));
    font-size: 14px;
    color: $white;
    letter-spacing: 1px;
    word-spacing: 1px;

    > span {
      position: relative;
      z-index: 1;
    }

    &:before {
      content: '';
      display: block;
      height: 100%;
      width: 0;
      background: $purple;
      transition: all 0.2s ease;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }

    &:hover {
      &:before {
        width: 100%;
      }
    }
  }

  &-scroll {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
    position: relative;
    overflow: hidden;
    background: white;
    transition: all 0.3s ease;

    svg {
      width: 22px;
      margin: 0 auto;
      display: block;
      position: relative;
      top: 5px;
    }

    &:hover {
      box-shadow: 0 0px 10px 1px rgba(black, 0.15);
      transform: scale(1.05);
    }
  }
}