<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://npmcdn.com/headroom.js@0.9.4/dist/headroom.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>

</html>
