---
layout: default
title: Home page
slug: index
position: 0
listed: false
published: true
---
  {% assign counter = 0 %}
  {% assign sections = site.sections | sort: "order" %}
	<section class="home-hero">
		<div class="container">
			<img src="/assets/images/holochain/Holochain_logo.png" alt="">
			<span class="tagline">Think Outside The Blocks</span>
		</div>
		<a class="btn-scroll" href="#page-top">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 407.437 407.437" style="enable-background:new 0 0 407.437 407.437;" xml:space="preserve">
				<polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815" />
			</svg>
		</a>
	</section>
	<section class="after-blockchain" id="page-top">
		<div class="container">
			<div class="blurb">
				<h3>What comes after blockchain?</h3>
			</div>
			<div class="video">
				<iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/hyCtYrHJebs?controls=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</section>
	<section class="press-media">
		<div class="container">
			<h3>Press &amp; Media</h3>
			<ul>
				<li><a href="https://www.forbes.com/sites/mergermarket/2018/03/26/blockchain-turns-pied-pipers-internet-fiction-into-reality/#6650e2272ab7" target="_blank"><img src="/assets/images/holochain/Forbes_logo.png" alt=""></a></li>
				<li><a href="https://www.youtube.com/watch?v=ipn6EZu6tNg" target="_blank"><img src="/assets/images/holochain/CT_logo.png" alt=""></a></li>
				<li><a href="https://www.weforum.org/agenda/2018/04/blockchain-survive-backlash-social-purpose-jem-bendall/" target="_blank"><img src="/assets/images/holochain/world-economic-forum-wef-logo.png" alt=""></a></li>
				<li><a href="https://cryptoticker.io/curiosity-talk-currency-expert-arthur-brock-founder-holochain-ceptr/" target="_blank"><img src="/assets/images/holochain/CryptoTicker-io.png" alt=""></a></li>
			</ul>
		</div>
	</section>
	<section class="testimonials">
		<div class="container">
			<h3>Testimonials</h3>
			<ul>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/Fex4R6b5wzo?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					<blockquote>"Installation and actually deployment was super simple and even more important it delivered on what they promised, it worked."</blockquote>
					<span class="credit">&mdash; <a href="https://www.lykke.com/city/blog/team-interview-anton" target="_blank">Anton from Lykke</a></span>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/J1bKwUy1x1A?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					<blockquote>“Holochain is talking Mozilla’s language.”</blockquote>
					<span class="credit">&mdash; <a href="https://www.linkedin.com/in/cookflix/" target="_blank">Jim Cook</a>, Fmr. Mozilla CFO & Co-Founder of Netflix</span>
				</li>
			</ul>
		</div>
	</section>
	<section class="data-integrity">
		<div class="container">
			<h3>Scalable distributed apps with data integrity</h3>
			<ul>
				<li>
					<img src="/assets/images/holochain/scalable_post-blockchain.png" alt="">
					<h4>Versatile solutions</h4>
					<p>Decentralization with no bottlenecks and adaptable validation</p>
				</li>
				<li>
					<img src="/assets/images/holochain/actually_peer-to-peer.png" alt="">
					<h4>Peer-to-peer</h4>
					<p>No centralized servers, no ledgers, and no middlemen</p>
				</li>
				<li>
					<img src="/assets/images/holochain/agent-centric_computing.png" alt="">
					<h4>Agent-centric</h4>
					<p>Individual authority over data sharing, access, and storage</p>
				</li>
			</ul>
		</div>
	</section>
	<section class="human-internet">
		<div class="container">
			<div class="blurb">
				<h3>A more human internet</h3>
				<p> Each of us wants to have control over how and with whom we interact. In order to evolve and thrive, our communities must support everyone's uniqueness. Yet today, our online relationships are dominated by centralized corporate web sites.</p>
				<p>Holochain enables a distributed web with user autonomy built directly into its architecture and protocols. Data is about remembering our lived and shared experiences. Distributing the storage and processing of that data can change how we coordinate and interact. With digital integration under user control, Holochain liberates our online lives from corporate control over our choices and information.</p>
			</div>
			<div class="button-bar">
				<a class="btn pill" href="https://github.com/Holochain/holochain-proto/blob/whitepaper/holochain.pdf"><span>Download Whitepaper</span></a>
			</div>
		</div>
	</section>
	<section class="after-blockchain light">
		<div class="container">
			<div class="blurb">
				<h3>How does Holochain work?</h3>
			</div>
			<div class="video">
				<iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/XH2dV33shxE?controls=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</section>
	<section class="join-the-team">
		<div class="container">
			<div class="blurb">
				<h3>Join the team</h3>
				<p>Holo and Holochain are searching for HoloNauts to join us on our journey to build a new, regenerative economy and a more human internet.</p>
				<div class="button-bar">
					<a class="btn pill" href="https://holo.host/careers/" target="blank"><span>Apply Now!</span></a>
				</div>
			</div>
		</div>
	</section>
	<section class="upsell-banner">
		<div class="image">
			<div role="img" aria-label="Image" class="background-image" style="background-image: url(/assets/images/holochain/Silhouette_Northern_Lights-X4.jpg)"></div>
		</div>
		<div class="content">
			<h3>Holochain helps people:</h3>
			<ul class="bullet">
				<li>Own their own data</li>
				<li>Control their identity</li>
				<li>Connect applications to suit their needs</li>
				<li>Transact without centralized systems</li>
				<li>Build lighter, faster, cheaper applications</li>
			</ul>
		</div>
	</section>
	<section class="upsell-banner reverse">
		<div class="image">
			<div role="img" aria-label="Image" class="background-image" style="background-image: url(/assets/images/holochain/Hackathon_Training_Camp.jpg)"></div>
		</div>
		<div class="content">
			<h3>Holochain apps help:</h3>
			<ul class="bullet">
				<li>Governance & Collaboration</li>
				<li>Social Media, Social Networks, & Vendor Links</li>
				<li>Sharing Economy & Platform Co-ops Apps</li>
				<li>Supply Chain Wins & Social Communities</li>
			</ul>
		</div>
	</section>
	<section class="upsell-banner tall">
		<div class="image">
			<div role="img" aria-label="Image" class="background-image" style="background-image: url(/assets/images/holochain/Painting_the_Milky_Way.jpg)"></div>
		</div>
		<div class="content">
			<h3>Start building your own innovative applications</h3>
			<p>We're not just a magic idea whitepaper. You can build cutting edge distributed apps in JavaScript or Lisp on our
				platform right now! Your apps will have access to core services like: a customizable UI, the Holochain DPKI app that
				manages keys and identities across holochain applications,
				the <a target="_blank" href="https://holo.host">Holo</a> platform for serving crypto apps to normal web browsers,
				API bridges between crypto apps, and the capacity to migrate data when updating distributed apps.</p>
			<p>To develop Holochain applications you need to know about:</p>
			<ul class="bullet">
				<li>Getting Holochain installed</li>
				<li>How to use the command line tools</li>
				<li>How to configure your application by creating a &quot;DNA&quot; file</li>
				<li>How to write your application code in JavaScript or Lisp</li>
				<li>How to think through building a distributed application</li>
				<li>How to build a user interface for your app</li>
				<li>How to test your application code</li>
			</ul>
			<a class="btn pill" href="team.html"><span>We're Hiring!</span></a>
		</div>
	</section>
	<section class="resources">
		<div class="container">
			<h3>Resources</h3>
			<ul>
				<li>
					<a class="btn pill" target="_blank" href="https://github.com/holochain/holochain-rust"><span>GitHub</span></a>
				</li>
				<li>
					<a class="btn pill" target="_blank" href="https://developer.holochain.org/start.html"><span>Installation</span></a>
				</li>
				<li>
					<a class="btn pill" rel="nofollow" target="_blank" href="https://chat.holochain.org/appsup/channels/app-dev"><span>Chat</span></a>
				</li>
				<li>
					<a class="btn pill" rel="nofollow" target="_blank" href="https://developer.holochain.net"><span>Developer Docs</span></a>
				</li>
				<li>
					<a class="btn pill" target="_blank" href="https://github.com/holochain/benchmarks"><span>Benchmarks</span></a>
				</li>
				<li>
					<a class="btn pill" href="/#curve-hackathon"><span>Hackathons</span></a></p>
				</li>
			</ul>
		</div>
	</section>
	<section class="announcements">
		<div class="container">
			<h3>Announcements</h3>
			<ul>
				<li><a href="https://medium.com/holochain" target="_blank">Holochain Blog</a></li>
				<li><a href="https://medium.com/holochain/junto-a-new-breed-of-social-media-powered-by-holochain-1faeff487f1d" target="_blank">Now Building — An Ecosystem Update on Apps & Partners: Junto</a></li>
				<li><a href="https://medium.com/holochain/tagged/dev-pulse" target="_blank">Dev Pulse Archive</a></li>
			</ul>
		</div>
	</section>
	<section class="infograph">
		<div class="container">
			<div class="blurb">
				<h3>Holographic storage for distributed applications</h3>
				<p>Holochain applications (hApps) are held entirely by people. No trusted third parties. No central points of failure.
					They enable direct architectural consent and cryptographic communication that are low risk, for less cost.</p>
				<p>Each agent owns an immutable hash chain and stores public data as a monotonic DHT node.
					Think lightweight, secure decentralized computing possible on mobile devices!</p>
			</div>
			<img src="/assets/images/holochain/private_source_chain_diagram.png" alt="">
		</div>
	</section>
	<section class="infograph reverse">
		<div class="container">
			<div class="blurb">
				<h3>Low-cost, lightweight, secure</h3>
				<p>Every application runs its own holochain on its own terms, with cheaper hosting overhead. Since users are hosts, as more agents use an app, more hosting power and storage becomes available. The load gets lighter!</p>
    		<p>Each agent's source chain holds the app's “DNA”—the code that runs the app. Its peer validation requirements ensure secure apps. That data cannot be counterfeited, tampered with, or lost. Each app stores its data in a validating DHT creating redundancy of public data across randomized nodes. When nodes go offline, the DHT is self-healing and rebalances the data to different nodes. And if someone alters their own app code they effectively fork themselves out of the shared DHT space into an entirely different application.</p>
			</div>
			<img src="/assets/images/holochain/distributed-hash-table_diagram.png" alt="">
		</div>
	</section>
	<section class="contact" id="curve-hackathon">
		<div class="container">
			<div class="events">
				<h3>Hackathons</h3>
				<p><a href="#curve-hackathon">Stay tuned!</a></p>
			</div>
			<div class="form">
				<h3>Host a Hackathon</h3>
				<form id="contact-form" action="https://formspree.io/hackathons@holo.host" method="POST">
					<input type="hidden" name="_subject" value="holochain.org website contact" />
					<input type="hidden" name="_next" value="{{site.url}}/thanks.html" />
					<div class="alert alert-success text-center" style="display: none">
						Thank you for your message, we'll respond as soon as possible.
					</div>
					<div class="alert alert-danger text-center" style="display: none">
						Your form has not been sent. Please make sure all required fields are filled in.
					</div>
					<fieldset>
						<input type='text' name='content[name]' placeholder="Name" />
					</fieldset>
					<fieldset>
						<input type='text' name='content[email]' placeholder="Email Address" />
					</fieldset>
					<fieldset>
						<textarea name='content[message]' placeholder="Message" style="font-family:'Avenir'"></textarea>
					</fieldset>
					<div class="button-bar">
						<button type="submit" value="Send" class="btn pill"><span>{{ 'Submit' | translate }}</span></button>
					</div>
				</form>
			</div>
		</div>
	</section>

	{% comment %}
  {% for section in sections  %}
    {% if section.order == 2%}
      <div id="page-top"></div>
      {% include matt-interview.html %}
    {% endif %}
    <div class="curve-mask
    {% if section.appearance == 'curved' %}
      {% if forloop.last %}
        {{ section.colour_scheme }}
      {% else %}
        {% assign next = sections[forloop.index] %}
        {{ next.colour_scheme }}
      {% endif %}
    {% else %}
        {{ section.colour_scheme }}
    {% endif %}">
      <div class="{% if section.appearance == 'curved' %}curve-down{% endif %} {{ section.colour_scheme }}" id="curve-{{ counter }}" {% if section.has_image == true %}style="background: url('{{ section.image.url }}'); {% unless section.appearance == 'curved' %} -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; {% else %} background-repeat: no-repeat; background-position: center 10%;{% endunless %}" {% endif %}>
	<section class="{% if section.appearance == 'sixty-forty' or section.appearance == 'forty-sixty' %}sixty-forty-wrap{% else %}curve-content-wrap {{section.remove_padding}}{% endif %}">
	  <div class="curve-content {{section.remove_padding}}">
	    {% if section.content_blocks.size > 0 %}
	      {% capture column_count %}{{ 100 | divided_by: section.content_blocks.size }}{% endcapture %}
	    {% else %}
	      {% capture column_count %}{{ 100 }}{% endcapture %}
	    {% endif %}
	    {% unless section.appearance == 'sixty-forty' or section.appearance == 'forty-sixty' %}
	      <style>
	       .column-{{ section._slug }} {
		 width: {{ column_count }}%;
	       }
	      </style>
	    {% endunless %}
	    {% if section.show_title == true %}
	      <h2 class="text-center">{{ section.title }}</h2>
	    {% endif %}
	    {% for content_block in section.content_blocks %}
	      <div class="column-{{ section._slug }} column {% if section.appearance == 'sixty-forty' %} {% cycle 'group 1': 'sixty', 'forty' %} {% elsif section.appearance == 'forty-sixty' %} {% cycle 'group 1': 'forty', 'sixty' %} {% endif %} ">
		<div class="column-content text-{{ content_block.text_align }}{% if content_block.content_layout == 'Text over Image' %} text-over-image {% endif %}"{% if content_block.content_layout == 'Image Fill' or content_block.content_layout == 'Text over Image' %} style="background: url('{{ content_block.image.url }}');{% endif %}{% if content_block.content_layout == 'Image Fill' %} -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; {% else %} background-repeat: no-repeat; background-position: center;{% endif %}">
		  {% if content_block.has_image == true and content_block.content_layout == 'Standard' %}
		    {% if section.content_blocks.size > 2 %}
          {% if content_block.has_link == true %}
		        <a target="_blank" href="{{content_block.image_link}}" title="{{content_block.title}}"><img class="{{content_block.extra_image_class}}" src="{{ content_block.image.url }}" /></a>
          {% else %}
            <img class="fadeimg three-col {{content_block.extra_image_class}}" src="{{ content_block.image.url }}" />
          {% endif %}
		    {% else %}
                      <img class="img-responsive" src="{{ content_block.image.url }}" />
		    {% endif %}
		  {% endif %}
		  {% unless content_block.content_layout == 'Image Fill' %}
		    {% if content_block.content_layout == 'Text over Image with Box' %}
		      <div class="gradient-parent">
			<div class="gradient-box">
		    {% endif %}
		    {% capture title_size %}{{ content_block.title | size }}{% endcapture %}
		    {% if content_block.show_text == true %}
		      <{% if section.content_blocks.size > 2 %}h3{% else %}h2{% endif %}{% unless section.appearance == 'sixty-forty' or section.appearance == 'forty-sixty' %} class="text-{{ content_block.text_align }}"{% endunless %}>{{ content_block.title }}</{% if section.content_blocks.size > 2 %}h3{% else %}h2{% endif %}>
		      <p{% unless section.appearance == 'sixty-forty' or section.appearance == 'forty-sixty' %} class="text-{{ content_block.text_align }}"{% endunless %}>{{ content_block.body }}</p>
		    {% endif %}
		    {% if content_block.content_layout == 'Text over Image with Box' %}
			</div>
		      </div>
		    {% endif %}
		  {% endunless %}
		</div>
	      </div>
	    {% endfor %}
	    {% if section.special %}
	      <div class="column-{{ section._slug }} column">
		<div class="column-content">
		  {% if forloop.first %}
		    <p class="text-center"> <img src="{{section.image.url}}" class="img-responsive"></p>
		    <p class="text-center">{{ section.body }}</p>
		    <div class="bounce-wrap">
		      <a href="#page-top">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 407.437 407.437" style="enable-background:new 0 0 407.437 407.437;" xml:space="preserve">
							<polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815" />
						</svg>
          </a>
		    </div>
                    <!--
		    <div class="wrap">
		      {% for num in (1..0) %}
			<div class="c"></div>
		      {% endfor %}
		    </div> -->

		  {% else %}
		    <h2 class="text-center">{{ section.title }}</h2>
		    <p class="text-center">{{ section.content }}</p>
		  {% endif %}
		</div>
	      </div>
	    {% endif %}
	  </div>
	</section>
      </div>
    </div>
    {% capture counter %}{{ counter | plus: 1 }}{% endcapture %}
  {% endfor %}

  <div class="curve-mask light">
    <div class="light" id="curve-hackathon">
      <section class="curve-content-wrap">
	<div class="curve-content">
	  <h2 class="text-center">Hackathons</h2>
	  <div class="column-hackathon column">
	    <div class="hackathon-content">
	      <h3 class="text-center">Upcoming Hackathons</h3>
        <h3 class="text-center"> <a href="#curve-hackathon">Stay Tuned!</a> </h3>
          <!--{% assign events = site.events | sort: "sort-date" %}
	           {% for event in events %}
		            <p class="text-center"><a class="button button-hackathon" href="{{ event.url }}">{{ event.location }}, {{ event.date_txt }}</a></p>
	           {% endfor %}-->
	    </div>
	  </div>
	  <div class="column-hackathon column">
	    <div class="hackathon-content">
	      <h3 class="text-center">Host a Hackathon</h3>
	      <div class="contact-form main-content-body">
                <form id="contact-form"
                      action="https://formspree.io/hackathons@holo.host"
                      method="POST">
                  <input type="hidden" name="_subject" value="holochain.org website contact" />
                  <input type="hidden" name="_next" value="{{site.url}}/thanks.html" />
  	          <div class="alert alert-success text-center" style="display: none">

    	            Thank you for your message, we'll respond as soon as possible.

	          </div>
	          <div class="alert alert-danger text-center" style="display: none">

		    Your form has not been sent. Please make sure all required fields are filled in.

	          </div>
		  <div class="full-input">
		    <input type='text' name='content[name]' placeholder="Name" />
		  </div>
		  <div class="full-input">
		    <input type='text' name='content[email]'placeholder="Email Address" />
		  </div>

		  <div class="full-input">
		    <textarea name='content[message]' placeholder="Message" style="font-family:'Avenir'"></textarea>
		  </div>

		  <div class="full-input">
		    <button type="submit" value="Send" class="submit-button" style="cursor: pointer;">
		      {{ 'Submit' | translate }}
		    </button>
		  </div>

                  <!--
  		  <script

  		   var onloadCallback = function() {
		       if ( $('#recaptcha').length ) {
			   grecaptcha.render('recaptcha', {
			       'sitekey' : '6LdQCC8UAAAAAIqxborkdyQEqld9XCNB7zUv_BmY'
			   });
		       }
		   };
		   $(function() {
		       $('.submit-button').on('click', function(e) {
			   e.preventDefault();
			   e.stopImmediatePropagation();
			   var form = $('#contact-form');
			   form.find('.alert-danger').hide();
			   var payload = form.serialize();
			   function showError() {
			       form.find('.alert-danger').fadeIn();
			   }
			   if (grecaptcha.getResponse() == "") {
			       showError();
			       return false;
			   }
			   var xhr = $.ajax({
			       type: 'POST',
			       url: '{{contents.hackathon_messages.public_submission_url}}.json',
			       data: payload,
			       dataType: 'json'
			   });
			   xhr.done(function(d) {
			       form.find('.alert-success').fadeIn();
			       form.find('.full-input').fadeOut();
			       return false;
			   });
			   xhr.fail(function(d) {
			       showError();
			   });
		       });
		   });
  		  </script> -->
		</form>

	      </div>
	    </div>
	  </div>
	</div>
      </section>
    </div>
  </div>
{% endcomment %}