---
layout: default
title: Home page
slug: index
position: 0
listed: false
published: true
---
  {% assign counter = 0 %}
  {% assign sections = site.sections | sort: "order" %}
  {% for section in sections  %}
    {% if section.order == 2%}
      <div id="pageTop"></div>
      {% include matt-interview.html %}
    {% endif %}
    <div class="curve-mask
    {% if section.appearance == 'curved' %}
      {% if forloop.last %}
        {{ section.colour_scheme }}
      {% else %}
        {% assign next = sections[forloop.index] %}
        {{ next.colour_scheme }}
      {% endif %}
    {% else %}
        {{ section.colour_scheme }}
    {% endif %}">
      <div class="{% if section.appearance == 'curved' %}curve-down{% endif %} {{ section.colour_scheme }}" id="curve-{{ counter }}" {% if section.has_image == true %}style="background: url('{{ section.image.url }}'); {% unless section.appearance == 'curved' %} -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; {% else %} background-repeat: no-repeat; background-position: center 10%;{% endunless %}" {% endif %}>
	<section class="{% if section.appearance == 'sixty-forty' or section.appearance == 'forty-sixty' %}sixty-forty-wrap{% else %}curve-content-wrap{% endif %}">
	  <div class="curve-content">
	    {% if section.content_blocks.size > 0 %}
	      {% capture column_count %}{{ 100 | divided_by: section.content_blocks.size }}{% endcapture %}
	    {% else %}
	      {% capture column_count %}{{ 100 }}{% endcapture %}
	    {% endif %}
	    {% unless section.appearance == 'sixty-forty' or section.appearance == 'forty-sixty' %}
	      <style>
	       .column-{{ section._slug }} {
		 width: {{ column_count }}%;
	       }
	      </style>
	    {% endunless %}
	    {% if section.show_title == true %}
	      <h2 class="text-center">{{ section.title }}</h2>
	    {% endif %}
	    {% for content_block in section.content_blocks %}
	      <div class="column-{{ section._slug }} column {% if section.appearance == 'sixty-forty' %} {% cycle 'group 1': 'sixty', 'forty' %} {% elsif section.appearance == 'forty-sixty' %} {% cycle 'group 1': 'forty', 'sixty' %} {% endif %} ">
		<div class="column-content text-{{ content_block.text_align }}{% if content_block.content_layout == 'Text over Image' %} text-over-image {% endif %}"{% if content_block.content_layout == 'Image Fill' or content_block.content_layout == 'Text over Image' %} style="background: url('{{ content_block.image.url }}');{% endif %}{% if content_block.content_layout == 'Image Fill' %} -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; {% else %} background-repeat: no-repeat; background-position: center;{% endif %}">
		  {% if content_block.has_image == true and content_block.content_layout == 'Standard' %}
		    {% if section.content_blocks.size > 2 %}
		      <img class="fadeimg three-col" src="{{ content_block.image.url }}" />
		    {% else %}
                      <img class="img-responsive" src="{{ content_block.image.url }}" />
		    {% endif %}
		  {% endif %}
		  {% unless content_block.content_layout == 'Image Fill' %}
		    {% if content_block.content_layout == 'Text over Image with Box' %}
		      <div class="gradient-parent">
			<div class="gradient-box">
		    {% endif %}
		    {% capture title_size %}{{ content_block.title | size }}{% endcapture %}
		    {% if content_block.show_text == true %}
		      <{% if section.content_blocks.size > 2 %}h3{% else %}h2{% endif %}{% unless section.appearance == 'sixty-forty' or section.appearance == 'forty-sixty' %} class="text-{{ content_block.text_align }}"{% endunless %}>{{ content_block.title }}</{% if section.content_blocks.size > 2 %}h3{% else %}h2{% endif %}>
		      <p{% unless section.appearance == 'sixty-forty' or section.appearance == 'forty-sixty' %} class="text-{{ content_block.text_align }}"{% endunless %}>{{ content_block.body }}</p>
		    {% endif %}
		    {% if content_block.content_layout == 'Text over Image with Box' %}
			</div>
		      </div>
		    {% endif %}
		  {% endunless %}
		</div>
	      </div>
	    {% endfor %}
	    {% if section.special %}
	      <div class="column-{{ section._slug }} column">
		<div class="column-content">
		  {% if forloop.first %}
		    <p class="text-center"> <img src="{{section.image.url}}" class="img-responsive"></p>
		    <p class="text-center">{{ section.body }}</p>
		    <div class="bounce-wrap">
		      <a href="#pageTop"">
          <img src="{{ '/assets/images/arrow.png' | theme_image_url }}" class="bounce" />
          </a>
		    </div>
                    <!--
		    <div class="wrap">
		      {% for num in (1..0) %}
			<div class="c"></div>
		      {% endfor %}
		    </div> -->

		  {% else %}
		    <h2 class="text-center">{{ section.title }}</h2>
		    <p class="text-center">{{ section.content }}</p>
		  {% endif %}
		</div>
	      </div>
	    {% endif %}
	  </div>
	</section>
      </div>
    </div>
    {% capture counter %}{{ counter | plus: 1 }}{% endcapture %}
  {% endfor %}

  <div class="curve-mask light">
    <div class="light" id="curve-hackathon">
      <section class="curve-content-wrap">
	<div class="curve-content">
	  <h2 class="text-center">Hackathons</h2>
	  <div class="column-hackathon column">
	    <div class="hackathon-content">
	      <h3 class="text-center">Upcoming Hackathons</h3>
          {% assign events = site.events | sort: "sort-date" %}
	      {% for event in events %}
		<p class="text-center"><a class="button button-hackathon" href="{{ event.url }}">{{ event.location }}, {{ event.date_txt }}</a></button></p>
	      {% endfor %}
	    </div>
	  </div>
	  <div class="column-hackathon column">
	    <div class="hackathon-content">
	      <h3 class="text-center">Host a Hackathon</h3>
	      <div class="contact-form main-content-body">
                <form id="contact-form"
                      action="https://formspree.io/hackathons@holo.host"
                      method="POST">
                  <input type="hidden" name="_subject" value="holochain.org website contact" />
                  <input type="hidden" name="_next" value="{{site.url}}/thanks.html" />
  	          <div class="alert alert-success text-center" style="display: none">

    	            Thank you for your message, we'll respond as soon as possible.

	          </div>
	          <div class="alert alert-danger text-center" style="display: none">

		    Your form has not been sent. Please make sure all required fields are filled in.

	          </div>
		  <div class="full-input">
		    <input type='text' name='content[name]' placeholder="Name" />
		  </div>
		  <div class="full-input">
		    <input type='text' name='content[email]'placeholder="Email Address" />
		  </div>

		  <div class="full-input">
		    <textarea name='content[message]' placeholder="Message" style="font-family:'Avenir'"></textarea>
		  </div>

		  <div class="full-input">
		    <button type="submit" value="Send" class="submit-button" style="cursor: pointer;">
		      {{ 'Submit' | translate }}
		    </button>
		  </div>

                  <!--
  		  <script

  		   var onloadCallback = function() {
		       if ( $('#recaptcha').length ) {
			   grecaptcha.render('recaptcha', {
			       'sitekey' : '6LdQCC8UAAAAAIqxborkdyQEqld9XCNB7zUv_BmY'
			   });
		       }
		   };
		   $(function() {
		       $('.submit-button').on('click', function(e) {
			   e.preventDefault();
			   e.stopImmediatePropagation();
			   var form = $('#contact-form');
			   form.find('.alert-danger').hide();
			   var payload = form.serialize();
			   function showError() {
			       form.find('.alert-danger').fadeIn();
			   }
			   if (grecaptcha.getResponse() == "") {
			       showError();
			       return false;
			   }
			   var xhr = $.ajax({
			       type: 'POST',
			       url: '{{contents.hackathon_messages.public_submission_url}}.json',
			       data: payload,
			       dataType: 'json'
			   });
			   xhr.done(function(d) {
			       form.find('.alert-success').fadeIn();
			       form.find('.full-input').fadeOut();
			       return false;
			   });
			   xhr.fail(function(d) {
			       showError();
			   });
		       });
		   });
  		  </script> -->
		</form>

	      </div>
	    </div>
	  </div>
	</div>
      </section>
    </div>
  </div>

  <script>
   $(window).scroll(function () {
       if ( $(this).scrollTop() > 400 && !$('header').hasClass('open') ) {
	   $('header').addClass('open');
	   $('header').show();
       } else if ( $(this).scrollTop() <= 400 ) {
	   $('header').removeClass('open');
	   $('header').hide();
       }
   });
  </script>
